{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h2>Cambiar Mi Contraseña</h2>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6">
             <div class="card shadow-sm">
                <div class="card-body">
                    <form action="{{ url_for('main.change_password') }}" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.current_password) }}
                        {{ wtf.form_field(form.new_password) }}
                        {{ wtf.form_field(form.new_password2) }}
                        {{ wtf.form_field(form.submit, button_map={'submit': 'btn-warning'}) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}