{% extends "base.html" %}

{% block content %}
    <h2>Editar Usuario: {{ user_to_edit.username }}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }} <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.password2.label(class="form-label") }}
                    {% if form.password2.errors %}
                        {{ form.password2(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password2.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                    {% else %}
                        {{ form.password2(class="form-control") }}
                    {% endif %}
                </div>

                <div class="mb-3 form-check">
                    {{ form.is_admin(class="form-check-input") }}
                    {{ form.is_admin.label(class="form-check-label") }}
                    {% if form.is_admin.errors %}
                        <div class="invalid-feedback d-block"> {# Mostrar error si lo hubiera #}
                            {% for error in form.is_admin.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div>
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('list_users') }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
