{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                 <div class="card-header text-center bg-primary-green text-white">
                     <img src="{{ url_for('static', filename='images/index.png') }}" alt="Logo" style="max-height: 150px;">
                     
                </div>
                <div class="card-body p-4 mb-4">
                    <h2 class="text-center mb-4">Seleccionar Barrio</h2>
                    <p class="text-center">Por favor, selecciona el barrio al que deseas ingresar.</p>
                    <form method="post" action="{{ url_for('main.select_barrio') }}">
                        <div class="mb-3">
                            <label for="barrio" class="form-label">Barrio:</label>
                            <select class="form-select" id="barrio" name="barrio" required autofocus>
                                <option value="" selected disabled>-- Elige un barrio --</option>
                                {% for b in barrios %}
                                    <option value="{{ b.id }}">{{ b.nombre }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Siguiente</button>
                        </div>
                        <div class="text-center mt-3">
                            <a href="{{ url_for('static', filename='manual_de_usuario.pdf') }}" target="_blank" class="btn text-center mt-3 align-items-center" style="background-color: #f8f9fa; color: #343a40; text-decoration: none;">
                                <i class="bi bi-filetype-pdf"></i> Descargar Manual del Usuario
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
